ConsoleApplication3/Service References/UMarketService/umarketsc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:typedquery="http://www.utiba.com/delirium/ws/TypedQuery" xmlns:misc="http://www.utiba.com/delirium/ws/Misc" elementFormDefault="qualified" targetNamespace="http://www.utiba.com/delirium/ws/TypedQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://10.1.5.64:8280/services/umarketsc?xsd=1" namespace="http://www.utiba.com/delirium/ws/Misc" />
  <xsd:complexType name="EntityReference">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="reference" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                    Entity reference.
                </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Agent">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                    agent_ref ID.
                </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="referenceID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                    agent_ref ID.
                </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="agentID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                    agent_body ID.
                </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ownerID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                    Owner agent_body id. In case of Linked Agents the owner agent will be different.
                </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent's name.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="address" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent's address.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="region" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   *ignore.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="MSISDN" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent's MSISDN.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="reference" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent reference.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="entityReference" type="typedquery:EntityReference">
        <xsd:annotation>
          <xsd:documentation>
                   Entity reference.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="salt" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Salt.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="emailAddress" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent e-mail address.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="SMSAddress" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent SMS address.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Language" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent language. English=en, Thai=th, Vietnamese=vi, french=fr.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="ICCID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent's ICCID
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="upstream" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   *ignore.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Agent's status bit field. Registered=1, Active=2, Stopped=128, Suspended=8, Frozen=32.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="agentType" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Agent type bit-field. Merchant=1, Trusted=2, Cash Agent=4, Registrar=16.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="primaryGroup" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   *ignore.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="depth" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Agent's depth in the hierarchy. TLD= 0, SD=1, Retailer=2.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="agentData" type="misc:KeyValuePair">
        <xsd:annotation>
          <xsd:documentation>
                   A map of key/value pairs.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AgentGroup">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
					    Agent group ID.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Group type. Normal user group = 0, Unmappable and undeletable group = 1, Mappable and undeletable group = 2.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Group name.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                        The group category. For instance: Distributor or User.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CapSet">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Cap ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Cap description.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CapDetail">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
					    Cap detail ID.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="csid" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
					    Cap set ID.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="capid" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
					    Cap ID.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="pattern" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
					    The activity pattern. i.e. Like a crontab entry.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="captype" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
					    Cap type ID.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="threshold" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
					    Threshold value/Soft limit.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="cap_limit" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
					    Hard limit.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="flags" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
					    Bit mask of options:
                   0 – Multi Soft Threshold. Allow soft threshold to fire multiple times instead of once.
                   1 – Zero Soft Threshold. When soft threshold is crossed reset soft threshold tracking to 0.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="cap_setdesc" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
					    Cap set description.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="cap_infodesc" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
					    Cap info description.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="action" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
					    Rule action to trigger when this cap fires or fails to fire.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rule">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Rule ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Rule description.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="contextid" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Rule context ID. Valid values are:
                   1) Capability rule.
                   2) Fee rule.
                   3) Bonus rule.
                   4) Commission rule.
                   5) Promotion rule.
                   6) Access control rule.
                   7) Group access control rule.
                   8) Auto group map rule.
                   9) RRP.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="activeversion" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The active version/instance of this rule.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RuleEntity">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="template" type="typedquery:RuleTemplate">
        <xsd:annotation>
          <xsd:documentation>
                   Rule template the entity is representative of.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ruleVersionID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The rule version/instance that this rule entity belongs to.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="templateID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The rule entity template ID. (rule_template id)
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="parentID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The parent entity ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="order" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Rule entity order. The order of this rule entity among the other rule entities in the version/instance the entities belong to.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   The rule entity description.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="data" type="misc:KeyValuePair">
        <xsd:annotation>
          <xsd:documentation>
                   The returned data describes parameters and their values. If no values are set -
                   then this element will not be returned.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The rule entity ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RuleTemplate">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="webFactory" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Webtools dictionary token.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="parentID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   rule_template ID of the parent rule template.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="contextID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Rule context ID. Valid values are:
                   1) Capability rule.
                   2) Fee rule.
                   3) Bonus rule.
                   4) Commission rule.
                   5) Promotion rule.
                   6) Access control rule.
                   7) Group access control rule.
                   8) Auto group map rule.
                   9) RRP.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="descriptionTemplate" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Rule template description template ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Rule template description.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="javaFactory" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   UMarket rule factory.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="data" type="misc:KeyValuePair">
        <xsd:annotation>
          <xsd:documentation>
                   Rule template data in key/value pairs.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   rule_template ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RuleInstance">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The rule instance ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ruleid" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The rule ID of the rule that this is an instance of.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="createTransID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Create transaction ID for the rule instance.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="createTransaction" type="typedquery:Transaction">
        <xsd:annotation>
          <xsd:documentation>
                   The create transaction for the rule instance.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="modifyTransID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   The modify transaction ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="modifyTransaction" type="typedquery:Transaction">
        <xsd:annotation>
          <xsd:documentation>
                   The modify transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   The rule version/instance description.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   The rule version/instance status.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WalletBalance">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="currentBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   The amount of money in the wallet – for all committed transactions. This balance is reported in all historical audit trails.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="availableBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   The current balance less any money reserved for debit transactions in progress.
                   This balance is use to determine if a wallet is coming close to its lower limit. It is also the balance reported for all balances enquiries to the user and to webtool.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="pendingBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   The current balance + any money pending when any credit transactions in progress are completed.
                   This balance is used to determine if a wallet is coming close to its upper limit.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Account">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Account id of the wallet.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Type ID of the wallet (E­wallet=1, Stock=2, Points= 3, Airtime=4).
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="agent" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   agent_body id
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ownerID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   owner agent_body id
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="agentType" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Agent type. Merchant=1, Trusted=2, Cash Agent=4, Registrar=16.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                   Account created date.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="openDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                   Account open date.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="currBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Current balance of the Agent's wallet.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="availBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Available balance of the Agent's wallet.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="balance" type="typedquery:WalletBalance">
        <xsd:annotation>
          <xsd:documentation>
                   Pending balance of the Agent's wallet.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="dirtyBalance" type="typedquery:WalletBalance">
        <xsd:annotation>
          <xsd:documentation>
                   The balance in the db + any non-committed balance changes.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="threshold" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Threshold value for notification purposes.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Lower limit.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="rate" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Amount to money value ratio.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   *ignore.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="upperLimit" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Wallet upper limit.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="capSetID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Capset ID set on the wallet.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Transaction">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="capSetID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   *ignore.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="order" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Order of the Child transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="state" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction Status (completed, Failed, etc)
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction Type.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Result name space description.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                   Date when transaction was created/Initiated
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="lastModified" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                   Date when the transaction was modified/updated
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="group" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   *ignore.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="initiator" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Initiator agent.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="initiatorEntity" type="typedquery:Entity">
        <xsd:annotation>
          <xsd:documentation>
                   The initiator entity.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Result code.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="resultNamespace" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   The layer of core that generated the result.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="parentID" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Parent Transaction ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="channel" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   The channel the system was accessed upon (sms=1, stk=2, portal=3,soap=4, admin= 5, schedule=6).
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="flags" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Type of Atomic  and Batch Transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="params" type="typedquery:TransactionData">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction Data.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="extTransactions" type="typedquery:ExtTransaction">
        <xsd:annotation>
          <xsd:documentation>
                   A collection of external transactions, if there are any.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="parties" type="typedquery:TransactionParty">
        <xsd:annotation>
          <xsd:documentation>
                   A collection of transaction parties, if there are any.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionSummary">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="transactionId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="transactionType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction Type.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="lastModified" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                   Date when the transaction was modified/updated
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="amount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   The amount involved in the transaction. If the initiator is the debtor, then
                   the initiator debited amount is returned. Otherwise - the creditor's.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="partiesReferenceIdList" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   A collection of the transaction partie's refrence IDs / MSISDNs.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Entity">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="accountType" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Account type.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="accountID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Account id.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="agentID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   agent_body id.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="referenceID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Initiator Reference id.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="deliriumEntityReference" type="typedquery:EntityReference">
        <xsd:annotation>
          <xsd:documentation>
                   Entity reference.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   agent_ref id of the agent.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="ownerID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Owner agent_body id. In case of Linked Agents the owner agent will be different.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="agent" type="typedquery:Agent">
        <xsd:annotation>
          <xsd:documentation>
                   The Agent.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="owner" type="typedquery:Agent">
        <xsd:annotation>
          <xsd:documentation>
                   The owner Agent.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="MSISDN" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Initiator MSISDN.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="reference" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Agent reference.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="account" type="typedquery:Account">
        <xsd:annotation>
          <xsd:documentation>
                   Agent Account.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="parent" type="typedquery:Entity">
        <xsd:annotation>
          <xsd:documentation>
                   Parent Entity.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionParty">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>
                   Party Type (Creditor = +, Debtor = -)
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="accountID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Account id.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="party" type="typedquery:Entity">
        <xsd:annotation>
          <xsd:documentation>
                   Entity involved in transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Amount credited or debited (­- or +).
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="money" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Money value.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="transCurrBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction current balance.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="transAvailBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction available balance.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="transPreCurrBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction pre current balance.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="transPreAvailBalance" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Transaction pre available balance.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="transPreBalance" type="typedquery:WalletBalance">
        <xsd:annotation>
          <xsd:documentation>
                   Balance before the transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="preAuditBalance" type="typedquery:WalletBalance">
        <xsd:annotation>
          <xsd:documentation>
                   Balance before the Transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="postAuditBalance" type="typedquery:WalletBalance">
        <xsd:annotation>
          <xsd:documentation>
                   Balance after the Transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="balance" type="typedquery:WalletBalance">
        <xsd:annotation>
          <xsd:documentation>
                   Balance after completing the entire transaction (involved child transactions)
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="State" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>
                   Transparty state.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="OriginalState" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>
                   Transparty state.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OriginalAmount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Amount Transacted.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionData">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExtTransaction">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ID" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   External Transaction ID.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   External Transaction Type.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="lookup" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Lookup
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="state" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>
                   External transaction State.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="action" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>
                   *ignore.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Description of the external transaction.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="result" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Result code.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                   Date/Time the request was sent to the ext_interface.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="params" type="typedquery:TransactionData">
        <xsd:annotation>
          <xsd:documentation>
                   External transaction data.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="timeout" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Timeout before external transaction fails.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Voucher">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="provider" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Voucher provider reference. (agent_body id).
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="state" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation>
                   Voucher state, one of three values: 0 = in stock, 1 = dispense, 2 = deleted.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="createTransId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   The transaction id of the transaction that created the voucher.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="dispenseTransId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Voucher dispense transaction id.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="deleteTransId" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>
                   Voucher deleted transaction id.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="value" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation>
                   Monetary value of the voucher.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="expiry" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation>
                   Expiry date of the voucher.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="uvid" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                   Unique voucher id.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="params" type="misc:KeyValuePair">
        <xsd:annotation>
          <xsd:documentation>
                   Optional parameters.
               </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>