ConsoleApplication3/Service References/UMarketService/umarketsc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:misc="http://www.utiba.com/delirium/ws/Misc" elementFormDefault="qualified" targetNamespace="http://www.utiba.com/delirium/ws/Misc" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="KeyValuePair">
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="key" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                        A key used for retrieving the matching value.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
                        The value associated with the given key.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KeyValuePairMap">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="keyValuePairs" type="misc:KeyValuePair">
        <xsd:annotation>
          <xsd:documentation>
                        A collection of key/value pairs. Self-explanatory.
                    </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>