GetCellID/Service References/ServiceReference1/GetCellId.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCellID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCellIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCellIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCellIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCellID" />
  </wsdl:message>
  <wsdl:message name="GetCellIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCellIDResponse" />
  </wsdl:message>
  <wsdl:portType name="GetCellIdSoap">
    <wsdl:operation name="GetCellID">
      <wsdl:input message="tns:GetCellIDSoapIn" />
      <wsdl:output message="tns:GetCellIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCellIdSoap" type="tns:GetCellIdSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCellID">
      <soap:operation soapAction="http://tempuri.org/GetCellID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCellIdSoap12" type="tns:GetCellIdSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCellID">
      <soap12:operation soapAction="http://tempuri.org/GetCellID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCellId">
    <wsdl:port name="GetCellIdSoap" binding="tns:GetCellIdSoap">
      <soap:address location="http://10.1.1.95:8021/GetCellId.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCellIdSoap12" binding="tns:GetCellIdSoap12">
      <soap12:address location="http://10.1.1.95:8021/GetCellId.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>